.blueFont {
  color: #0099ff;
}

.yellowFont {
  color: #fbff00;
}

.greenFont {
  color: #00ff00;
}

.pinkBG {
    background-color: #ffb3cc;
}

.yellowBG {
    background-color: #f7ffb3;
}

.blueBG {
    background-color: #0099ff;
}

.whiteBG {
    background-color: #ffffff;
}

.image-container {
  width: 500px;
  height: 500px;
}

.image-container img {
  width: 50%;
  height: 50%;
  object-fit: fill;
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 72px !important;
}

h3 {
  font-size: 48px !important;
}

h4 {
  font-size: 24px !important;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.imgEnd{
    color: red;
    font-size: 30px;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}



.imgEndTop{
    color: red;
    font-size: 30px;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}

.imgEndTop2{
    color: red;
    font-size: 30px;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top, left bottom;
}

.imgEndBottom{
    color: red;
    font-size: 30px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
}



.spaceultrabig{
    height: 1200px;
}

.spacebigplus{
    height: 800px;
}

.spacebig{
    height: 400px;
}

.spacemid{
    height: 200px;
}

.spacesmall{
    height: 100px;
}

.spacemidplus{
    height: 300px;
}

.container { 
	display: flex; 
} 
 
.div1, .div2 { 
	width: 300px; 
} 
 
.div-remaining { 
	flex: 1; 
}

.gradientToBlue{
    background: linear-gradient(#ffb3cc, #0099ff);
}

.gradientTowhite{
    background: linear-gradient(#0099ff, #ffffff);
}


@font-face {
  font-family: "FiraSans";
  src: url('fonts/BurbankBigCondensedFont.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "FiraSans" !important;
}