.blueFont {
  font-family: Calibri, sans-serif;
  color: #0099ff;
}

.yellowFont {
  font-family: Calibri, sans-serif;
  color: #fbff00;
}

.pinkBG {
    background-color: #ffb3cc;
}

.blueBG {
    background-color: #0099ff;
}

.whiteBG {
    background-color: #ffffff;
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 72px !important;
}

h3 {
  font-size: 48px !important;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


.spaceultrabig{
    height: 1200px;
}

.spacebig{
    height: 400px;
}

.spacemid{
    height: 200px;
}

.spacesmall{
    height: 100px;
}

.spacemidplus{
    height: 300px;
}

.container { 
	display: flex; 
} 
 
.div1, .div2 { 
	width: 300px; 
} 
 
.div-remaining { 
	flex: 1; 
}

.gradientToBlue{
    background: linear-gradient(#ffb3cc, #0099ff);
}

.gradientTowhite{
    background: linear-gradient(#0099ff, #ffffff);
}